*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #264562;
  position: relative; }

a {
  text-decoration: none;
  color: #264562; }

ul {
  list-style: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%; }

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  text-align: left; }

.flex-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 1.5rem 0; }

.py-3 {
  padding: 2rem 0; }

.py-4 {
  padding: 3rem 0; }

.px-1 {
  padding: 0 1rem; }

.px-2 {
  padding: 0 1.5rem; }

.px-3 {
  padding: 0 2rem; }

.px-4 {
  padding: 0 3rem; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 1.5rem 0; }

.my-3 {
  margin: 2rem 0; }

.my-4 {
  margin: 3rem 0; }

.mx-1 {
  margin: 0 1rem; }

.mx-2 {
  margin: 0 1.5rem; }

.mx-3 {
  margin: 0 2rem; }

.mx-4 {
  margin: 0 3rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.tools {
  display: inline-block;
  background: #1b3146;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0.3rem 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 14px;
  letter-spacing: 1px; }

.bg-light {
  background: #ededeb; }

.bg-white {
  background: #f5f5f5; }

.title {
  background: #ededeb;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 3rem;
  position: relative; }

.view-resume {
  display: inline-block;
  background: #264562;
  color: #f5f5f5;
  font-size: 0.75rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 1%;
  left: 10%;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(51, 51, 51, 0.6);
  transition: 100ms ease-in; }
  .view-resume:hover {
    background: #143f68;
    box-shadow: 2px 2px 4px -1px rgba(51, 51, 51, 0.2);
    transform: scale(0.95); }

.scroll-top-btn {
  padding: 1rem;
  border-radius: 50%;
  font-size: 0.5rem;
  color: #4d4d4d;
  background: #fff;
  letter-spacing: 1.15px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  z-index: 10; }
  .scroll-top-btn:hover {
    background: #7e7e7e;
    color: #fff; }

.resume {
  background: #ededeb;
  padding-bottom: 2rem; }
  .resume-name {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 0.6;
    text-align: center;
    margin: 0 auto; }
    .resume-name span {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 10px; }
  .resume img {
    display: block;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    margin: 0 auto 2.5rem;
    transition: all 300ms ease;
    z-index: 1;
    position: relative; }
    .resume img:hover {
      box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.5);
      transform: translateY(-5px); }
  .resume-about {
    padding-top: 1rem; }
    .resume-about .subtitle {
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      margin-bottom: 1rem; }
      .resume-about .subtitle-text {
        line-height: 1.7;
        font-size: 1rem;
        text-align: justify;
        padding-right: 2rem; }

#contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  background: #1b3146;
  color: #ededeb;
  font-size: 0.9rem; }
  #contact i {
    font-size: 1.5rem;
    margin-right: 1rem; }
  #contact a {
    color: #ededeb;
    transition: 300ms ease-in; }
    #contact a:hover {
      transform: translateY(-15px);
      color: rgba(240, 55, 70, 0.8); }

#experiences {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 2rem; }
  #experiences .project {
    border: none;
    border-radius: 8px;
    padding: 2rem 1.5rem; }
    #experiences .project-title {
      font-size: 2rem;
      font-weight: 500;
      color: #264562;
      letter-spacing: 2px;
      line-height: 1.5;
      transition: 300ms ease; }
    #experiences .project:hover {
      background: #264562;
      color: #f5f5f5; }
      #experiences .project:hover .project-title {
        color: #f5f5f5; }
    #experiences .project-description {
      font-size: 1rem;
      color: #c4c4c4; }
    #experiences .project .links {
      font-size: 1rem;
      color: #888888;
      transition: 100ms ease-in; }
      #experiences .project .links:hover {
        color: rgba(240, 55, 70, 0.8); }
    #experiences .project ul {
      padding-top: 2rem; }
      #experiences .project ul li {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1.6;
        list-style: outside;
        width: 90%;
        text-align: justify; }

footer {
  background: #1b3146;
  height: 3rem;
  color: #808080;
  font-size: 0.75rem; }

@media (max-width: 768px) {
  .resume-name {
    font-size: 3.75rem;
    line-height: 0.9; } }

@media (max-width: 375px) {
  .resume-top-section {
    display: flex;
    flex-direction: column; }
    .resume-top-section img {
      width: 150px;
      height: 150px;
      margin-top: 1rem; }
  .resume-name {
    font-size: 2.5rem; }
  .title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2; }
  #experiences {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem; }
    #experiences .project {
      text-align: left; }
      #experiences .project .links {
        font-size: 0.85rem; }
      #experiences .project .timeline-cover {
        background: #0a0143; }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem 2rem;
    height: auto; }
    #contact div {
      margin-bottom: 1rem; }
  footer {
    font-size: 0.65rem; } }
